:root{
    --header-height: 1.5rem;
    --header-color: white;
    --dock-height: 2.5rem;
    --main-color: rgb(177, 129, 129);
    --second-color: rgb(145, 135, 135);
    --third-color: rgb(140, 94, 94);
}
.Desktop-container{
    width: 100vw;
    height: 100vh;  
}
.Header-container{
    height: var(--header-height);
    background-color: grey;
    color: var(--header-color);
    display: flex;
    flex-direction: row;
}
.Header-button{
    height: var(--header-height);
    line-height: 1;
}
.Header-timer{
    width: fit-content;
    margin-right: 1rem;
    margin-left: auto;
}
.Applications-container{
    height: calc(100vh - var(--header-height) - var(--dock-height));
    background: url('../assets/wallpapers/snowy_dusk.jpg');
    background-size: cover;
    background-position: center;
}
.Dock-container{
    height: var(--dock-height);
    background-color: grey;

}

.WelcomeText{
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.WelcomeText-particles-container{
    width: fit-content;
    height: fit-content;
    margin: auto;
    visibility: visible;
}
.WelcomeText-socialmedia{
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    opacity: 0.4;
}

@media screen and (max-width: 700px){
    .WelcomeText-particles-container{
        -ms-transform:scale(0.8); /* IE 9 */
        -moz-transform:scale(0.8); /* Firefox */
        -webkit-transform:scale(0.8); /* Safari and Chrome */
        -o-transform:scale(0.8); /* Opera */
    }
}

@media screen and (max-width: 500px){
    .WelcomeText-particles-container{
        -ms-transform:scale(0.6); /* IE 9 */
        -moz-transform:scale(0.6); /* Firefox */
        -webkit-transform:scale(0.6); /* Safari and Chrome */
        -o-transform:scale(0.6); /* Opera */
    }
}